select {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  font-size: 1rem;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: 2px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #2980b9;
  border-color: #3498db;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}